<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/publicResources" xmlns="http://www.w3.org/1999/html">
<head th:include="public/publicResources :: publicHeader">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="form row">
        <div class="form-horizontal col-md-offset-3" id="login_form">
            <h3 class="form-title">用户注册</h3>
            <form action="register" th:method="post" id="registerForm">
            <div class="col-md-9">
                <div class="form-group">
                    <i class="fa fa-user fa-lg"></i>
                   用户名： <input class="form-control required" type="text" placeholder="Username" id="userName"
                           name="userName" autofocus="autofocus" maxlength="20" th:value="zhangsh"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg"></i>
                    密码：<input class="form-control required" type="text" placeholder="Password" id="password"
                           name="password" maxlength="8" th:value="123"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg"></i>
                    确认密码：<input class="form-control required" type="text" placeholder="Password" id="rePassword"
                              name="password" maxlength="8" th:value="123"/>
                </div>
                <div class="form-group">
                    <i class="fa fa-lock fa-lg"></i>
                    手机号：<input class="form-control required" type="text" placeholder="Password" id="phone"
                                name="phone" maxlength="8" th:value="123"/>
                </div>
                <div class="form-group col-md-offset-9">
                    <button type="button" class="btn btn-success pull-right" onclick="return toAdd()">确认注册</button>

                    <button type="button" class="btn btn-success pull-right" onclick="return toLogin()">去登陆</button>
                </div>
                <div class="form-group col-md-offset-9">
                    <button type="button" class="btn btn-success pull-right" onclick="return alerttest()">弹框调试</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>